

html{
  background-color: black;
}

div{
width: 50%;
margin: 25%;
margin-top: 100px;
}

h1{
font-family: 'libre baskerville', sans-serif;
color: white;
background-color: black;
text-align: center;
text-transform: uppercase;
font-size: 3rem;
}

p{
font-family: 'libre baskerville', sans-serif;
color: white;
background-color: black;
text-align: center;
text-transform: uppercase;
}

img{
border: 5px solid white;
width: 100%;
}

